<div class="container p-4">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center">¡Bienvenida Coordinadora!</h1>
    </div>
    <div class="card-body">
      <h3>¿Qué desea hacer?</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="/students" class="btn btn-dark">
            Directorio Alumnos
          </a>
        </li>
        <li class="list-group-item">
          <a href="/teachers" class="btn btn-dark">
            Directorio Maestros
          </a>
        </li>
        <li class="list-group-item">
          <a href="/students-schedules" class="btn btn-dark">
            Horarios de Alumnos
          </a>
        </li>
        <li class="list-group-item">
          <a href="/teachers-schedules" class="btn btn-dark">
            Horarios de Maestros
          </a>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <h4 class="text-center">Coordinación de Ingenierias UAL</h4>
    </div>
  </div>
</div>