<div class="container mt-2">
  <div class="card">
    <div class="card-header">
      <center>
        <h1>Agregar Alumno</h1>
      </center>
    </div>
    <form class="card-body" method="post" action="/new-info-student">
      <input
        class="form-control"
        type="text"
        name="name"
        id="name"
        placeholder="Nombres"
      />
      <br />
      <input
        class="form-control"
        type="text"
        name="last_name"
        id="last_name"
        placeholder="Apellidos"
      />
      <br />
      <input
        class="form-control"
        type="email"
        name="email"
        id="email"
        placeholder="Correo"
      />
      <br />
      <input
        class="form-control"
        type="text"
        name="phone"
        id="phone"
        placeholder="Telefono"
      />
      <br />
      <input
        class="form-control"
        type="text"
        name="id"
        id="id"
        placeholder="Matricula"
      />
      <br />
      <label class="form-label" for="career">Carrera:</label>
      <select class="form-select" name="career" id="career">
        <option value="ISC">ISC</option>
      </select>
      <br />
      <label class="form-label" for="semester">Semestre:</label>
      <select class="form-select" name="semester" id="semester">
        <option value="semester 1">1er Semestre</option>
        <option value="semester 2">2do Semestre</option>
        <option value="semester 3">3er Semestre</option>
        <option value="semester 4">4to Semestre</option>
        <option value="semester 5">5to Semestre</option>
        <option value="semester 6">6to Semestre</option>
        <option value="semester 7">7mo Semestre</option>
        <option value="semester 8">8vo Semestre</option>
      </select>
      <br />
      <center>
        <a href="/" class="btn btn-primary">
          Inicio
        </a>
        <input class="btn btn-success" type="submit" value="Agregar" />
      </center>
    </form>
  </div>
</div>