<div class="container p-4">
  <div class="card">
    <div class="card-header">
      <h1>Horarios-Maestros</h1>
    </div>
    <div class="card-body">
      Here gose the schedules
    </div>
    <div class="card-footer">
      <a href="/" class="btn btn-primary">
        Inicio
      </a>
    </div>
  </div>
</div>